
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-raised-button color="accent" routerLink="mbadge">Material Badge </button>
      <button class="btn btn-success" routerLink="dialog">Material Dialog </button>
      <button class="btn btn-success" routerLink="template">Template </button>
      <button mat-raised-button color="accent" routerLink="icon">Material Icon </button>
      <button mat-raised-button color="accent" routerLink="datepicker">Material Date </button>
      <button class="btn btn-success" routerLink="button">Material Button & Pipe</button>
      <button class="btn btn-success" routerLink="binding">Binding</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    
    </mat-toolbar>
  </p>
