<p>Icon Command</p><mat-icon fontIcon="home"></mat-icon>

<mat-icon>account_circle</mat-icon>
<mat-icon >home</mat-icon>


<mat-icon>alarm</mat-icon>
alarm_add alarm add icon	<mat-icon>alarm_add</mat-icon><br>
alarm_off alarm off icon	<mat-icon>alarm_off</mat-icon><br>
alarm_on alarm on icon	<mat-icon>alarm_on</mat-icon><br>
all_out all out icon	<mat-icon>all_out</mat-icon><br>
android android icon	<mat-icon>android</mat-icon><br>
announcement announcement icon	<mat-icon>announcement</mat-icon>v
arrow_right_alt arrow right alt icon	<mat-icon>arrow_right_alt</mat-icon><br>
aspect_ratio aspect ratio icon	<mat-icon>aspect_ratio</mat-icon><br>
assessment assessment icon	<mat-icon>assessment</mat-icon><br>
assignment assignment icon	<mat-icon>assignment</mat-icon><br>
assignment_ind assignment ind icon	<mat-icon>assignment_ind</mat-icon><br>
assignment_late assignment late icon	<mat-icon>assignment_late</mat-icon><br>
assignment_return assignment return icon	<mat-icon>assignment_return</mat-icon><br>
assignment_returned assignment returned icon	<mat-icon>assignment_returned</mat-icon><br>
assignment_turned_in assignment turned in icon	<mat-icon>assignment_turned_in</mat-icon><br>
autorenew autorenew icon	<mat-icon>autorenew</mat-icon><br>
backup backup icon	<mat-icon>backup</mat-icon><br>
book book icon	<mat-icon>book</mat-icon><br>
bookmark bookmark icon	<mat-icon>bookmark</mat-icon><br>
bookmark_border bookmark border icon	<mat-icon>bookmark_border</mat-icon><br>
bug_report bug report icon	<mat-icon>bug_report</mat-icon><br>
build build icon	<mat-icon>build</mat-icon><br>
cached cached icon	<mat-icon>cached</mat-icon><br>
calendar_today calendar today icon	<mat-icon>calendar_today</mat-icon>
calendar_view_day calendar view day icon	<mat-icon>calendar_view_day</mat-icon><br>
camera_enhance camera enhance icon	<mat-icon>camera_enhance</mat-icon><br>
card_giftcard card giftcard icon	<mat-icon>card_giftcard</mat-icon><br>


<mat-icon>copyright</mat-icon>
credit_card credit card icon	<mat-icon>credit_card</mat-icon><br>
dashboard dashboard icon	<mat-icon>dashboard</mat-icon><br>
date_range date range icon	<mat-icon>date_range</mat-icon><br>
delete delete icon	<mat-icon>delete</mat-icon><br>
delete_forever delete forever icon	<mat-icon>delete_forever</mat-icon>v<br>
delete_outline delete outline icon	<mat-icon>delete_outline</mat-icon><br>


        <mat-icon>favorite</mat-icon>


<p class="test">
    
        <a class="test" href="https://www.nlcindia.in/new_website/index.htm" target="_blank">
            RTI 
    </a>
   
    |
   </p>
<mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
<p>This is DataService</p>{{dataService.count}}
